[app:main]
use = egg:FileManager

# set an absolute path
setting_folder = ....\\python-projects\\file-manager\\configs

# directory for save file
# set an absolute path
storage.base_path = ...\\python-projects\\file-manager\\FileManager\\files\\
# pyramid.includes = pyramid_debugtoolbar pyramid_storage
pyramid.includes = pyramid_storage

# values set
Access-Control-Allow-Origin = *

# upload access
documents = True
images = True
audio = True
video = True
archives = True

# max upload size (MB)
MaxUploadSize = 100

# set an absolute path
wkhtmltopdf_path = ...\wkhtmltopdf\bin\wkhtmltopdf.exe


[database]
# database details
database = database_name
host = localhost
user = root
password =
charset = utf8
port = 40000


[server:main]
use = egg:pyramid#wsgiref
host = localhost
port = 8887

[loggers]
keys=root

[handlers]
keys=file

[formatter_simpleFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s

[formatters]
keys=simpleFormatter

[logger_root]
level=DEBUG
handlers=file

[handler_file]
class = handlers.RotatingFileHandler
formatter = simpleFormatter
# set an absolute path
args=("....\\file-manager\\logs\\file-manager.log",'a',10240,3)
